.home {
  width: 100%;
  height: 120vh;
  background-color: #004c90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.title-access {
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
}

.title-access p {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

.title-link {
    color:aqua;
}

.access-card {
    width:50%;
}
